<div class="hero_area">
    <section class="slider_section ">
        <div class="container d-flex justify-content-center flex-column align-items-center">
            <a routerLink="/" class="logo">
                <span>CIGMA</span>Bank
            </a>
            <div class="dropdown w-75">
                <div class="text-center alert alert-success" role="alert">
                    <p>Votre compte a été créé avec succès et ADMIN activera bientôt votre compte.</p>
                </div>
                <a class="dropdown-item" routerLink="/login">Votre compte existe ? connectez-vous</a>
            </div>
        </div>
    </section>
</div>