
  <h2>Mes transactions</h2>
  <div class="d-flex justify-content-end mb-3">
    <a href="/user/transactions/new" type="button" class="btn btn-success">
      <i class="fi fi-br-plus"></i>&nbsp;Nouveau transaction
    </a>

  </div>
  <table class="table mt-4">
    <thead>
    <tr>
        <th>Date</th>
        <th>Description</th>
        <th>Montant</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let transaction of transactions">
        <td>{{ transaction.transactionDate }}</td>
        <td>{{ transaction.transactionType }}</td>
        <td [ngClass]="{ 'amount': true, 'positive': transaction.sold >= 0, 'negative': transaction.sold < 0 }">
        {{ transaction.sold | currency : "MAD " }}
        </td>
    </tr>
    </tbody>
</table>